/** CSS STYLE **/

:root {
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark50: #908d8b;
  --brown: #b09a81;
  --white50: #d7ccc0;
  --blue: #1085c5;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  font-size: 16px;
  color: #2a2626;
}

.dark {
  color: var(--dark);
}

.primary {
  color: var(--primary);
}

body {
  width: 100%;
  margin: 0;
}

header {
  padding-top: 100px;
  padding-left: 165px;
  background-color: var(--light);
}

h1,
h2,
h3 {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  margin-top: 0;
  margin-bottom: 185px;
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.paragraph-column {
  margin-top: 0;
}

.break-avoid {
  break-inside: avoid;
  break-after: avoid;
}

.header-content {
  max-width: 1110px;
  position: relative;
}

.section-text {
  column-count: 2;
  column-gap: 30px;
}

#header-image {
  position: absolute;
  top: -45px;
  right: -270px;
  height: 525px;
}

button {
  padding: 12px 24px;
  margin-top: 40px;
  margin-bottom: 100px;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  color: white;
  background: var(--primary);
  border: none;
}
