/** CSS STYLE **/

:root {
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark50: #908d8b;
  --brown: #b09a81;
  --white50: #d7ccc0;
  --blue: #1085c5;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: var(--dark);
}

.dark {
  color: var(--dark);
}

.white {
  color: white;
}

a {
  color: var(--blue);
}

.bg-light {
  background-color: var(--light);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* general layout */
body {
  margin: 0;
  max-width: 1440px;
}

section,
.section-wrap,
footer {
  padding: 100px 165px;
}

.bias {
  padding: 0;
}

/* general typography */
h1,
h2,
h3 {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  color: var(--primary);
  margin-block-end: 0;
  margin-block-start: 0;
}

h1 {
  margin-top: 0;
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  margin-block-end: 0;
  margin-block-start: 0;
}

.centered {
  text-align: center;
}

/* text layout */
.two-column p {
  margin-top: 0;
}

.two-column,
.contact-form-block {
  column-count: 2;
  column-gap: 30px;
}

.break-avoid {
  break-inside: avoid;
  break-after: avoid;
}

/* underlying pattern design */
.section-wrap {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.section-wrap::before {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: url("../images/background.png");
}

/* header design */
header h1 {
  margin-bottom: 185px;
}

#header-image {
  position: absolute;
  top: 55px;
  right: -103.81px;
  height: 525px;
}

/* bias section design */
.how-it-works h3 {
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.2;
}

.how-it-works {
  padding: 5px 10px;
  column-span: all;
  margin-top: 100px;
  margin-bottom: 20px;
}

.bias-header img {
  background: url("1.png");
  max-width: 100%;
}

.bias-header h2 + p,
.contact-form-block .white {
  font-family: Neucha, sans-serif;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
}

.bias-header h2 {
  margin-bottom: 30px;
}

.bias-header-subtitle {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}

.bg-light .bias-header-subtitle {
  color: var(--dark50);
}

.bg-light .bias-header h2 {
  color: var(--dark);
}

.bg-light .how-it-works {
  background-color: var(--brown);
}

.bg-light .how-it-works h3 {
  color: white;
}

.bg-brown .bias-header-subtitle {
  color: var(--white50);
}

.bg-brown .bias-header h2,
.bg-brown .bias-header h2 + p,
.bg-brown .two-column {
  color: white;
}

.bg-brown .how-it-works {
  background-color: white;
}

.bg-brown .how-it-works h3 {
  color: var(--brown);
}

/* navigation section design */
#navigation,
.bias-header {
  display: flex;
  gap: 30px;
}

.bg-brown .bias-header {
  flex-direction: row-reverse;
}

#navigation {
  padding-top: 200px;
  flex-flow: row wrap;
}

#navigation h2 {
  font-size: 52px;
}

/* card design */
.card,
.title-card {
  flex-basis: 350px;
  box-sizing: border-box;
}

.card {
  color: inherit;
  text-decoration: none;
  background-color: var(--light);
  padding: 24px;
}

.card-number {
  margin-bottom: 40px;
  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.card:hover {
  background-color: var(--primary);
}

.card:hover,
.card:hover h3 {
  color: white;
}

/* button design */
.button {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 40px;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: var(--primary);
}

form button {
  height: 50px;
  width: 70px;
  border: none;
  margin: 0;
  background-color: var(--primary);
  flex-shrink: 0;
}

button:hover,
.button:hover {
  background-color: #ea7600;
}

form button::before {
  content: url("../images/send.svg");
}

/* footer design */
footer .contact-form-block + .centered p {
  font-size: 14px;
  margin-top: 16px;
  color: black;
}

.contact-form-block {
  padding: 55px;
  margin-bottom: 60px;
  align-items: center;
}

.contact-form-title {
  margin: 0 0 9px;
  font-size: 18px;
  color: white;
}

.small-text {
  font-size: 12px;
  color: white;
}

.small-text a {
  color: white;
  text-decoration: underline;
}

input {
  flex-grow: 1;
  height: 50px;
  padding: 15px;
  box-sizing: border-box;
  border: none;
}

input::placeholder {
  font-size: 13.1;
  color: #757575;
}

form {
  display: flex;
}

/* video section design */
#video h2 {
  font-size: 72px;
}

#video {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#video p {
  margin-top: 27px;
  margin-bottom: 30px;
}

.video {
  margin-bottom: -200px;
}

iframe {
  border: none;
}
