/** CSS STYLE **/

:root {
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark50: #908d8b;
  --brown: #b09a81;
  --white50: #d7ccc0;
  --blue: #1085c5;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  font-size: 16px;
  color: #2a2626;
}

/* general colors */
.dark {
  color: var(--dark);
}

.primary {
  color: var(--primary);
}

/* general layout */
body {
  width: 100%;
  margin: 0;
}

header,
section {
  padding: 100px 165px;
}

.header-content,
.section-content {
  max-width: 1110px;
  position: relative;
}

/* general fonts */
h1,
h2,
h3 {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  margin-top: 0;
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* header design */
header {
  background-color: var(--light);
}

.header-content h1 {
  margin-bottom: 185px;
}

.section-wrap {
  overflow: hidden;
}

header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

#header-image {
  position: absolute;
  top: -45px;
  right: -270px;
  height: 525px;
}

/* button design */
button {
  padding: 12px 24px;
  margin-top: 40px;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  color: white;
  background: var(--primary);
  border: none;
}

/* text layout */
.paragraph-column {
  margin-top: 0;
}

.break-avoid {
  break-inside: avoid;
  break-after: avoid;
}

.section-text {
  column-count: 2;
  column-gap: 30px;
}

/* video section design */
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 0;
}

h1.centered + p {
  margin-top: 27px;
  margin-bottom: 30px;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  margin-bottom: -200px;
}
