/** CSS STYLE **/

:root {
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark50: #908d8b;
  --brown: #b09a81;
  --white50: #d7ccc0;
  --blue: #1085c5;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  font-size: 16px;
  color: #2a2626;
}

/* general colors and shadows */
.dark {
  color: var(--dark);
}

.light {
  background-color: var(--light);
}

.primary {
  color: var(--primary);
}

.brown {
  background-color: var(--brown);
}

.white {
  color: white;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* general layout */
body {
  width: 100%;
  margin: 0;
}

header,
section {
  padding: 100px 165px;
  max-width: 1110px;
}

/* general fonts */
h1,
h2,
h3 {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}

h1 {
  margin-top: 0;
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* button design */
button {
  padding: 12px 24px;
  margin-top: 40px;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  color: white;
  background-color: var(--primary);
  border: none;
}

button:hover {
  background-color: #ea7600;
}

/* general header&section design */
.header-content,
.section-content {
  position: relative;
}

.section-wrap {
  overflow: hidden;
}

header::before,
section.bias::before {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1110px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

/* text layout */
div.section-text p {
  margin-top: 0;
}

.break-avoid {
  break-inside: avoid;
  break-after: avoid;
}

.section-text {
  column-count: 2;
  column-gap: 30px;
}

/* header design */
.header-content h1 {
  margin-bottom: 185px;
}

#header-image {
  position: absolute;
  top: -45px;
  right: -270px;
  height: 525px;
}

/* video section design */
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 0;
}

h1.centered + p {
  margin-top: 27px;
  margin-bottom: 30px;
}

.video {
  margin-bottom: -200px;
}

/* bias section design */
.bias-header img {
  background: url("1.png");
  max-width: 100%;
}

.bias-header h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 30px;
}

.bias-header-subtitle {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: var(--dark50);
  margin-block-start: 0;
  margin-block-end: 0;
}

.how-it-works {
  padding: 5px 10px;
  column-span: all;
  margin-top: 100px;
  margin-bottom: 20px;
}

/* navigation section design */
#navigation {
  padding-top: 200px;
  background-color: var(--dark);
}

#navigation .section-content,
.bias-header {
  display: flex;
  gap: 30px;
}

#navigation .section-content {
  flex-flow: row wrap;
}

section#navigation h2 {
  font-size: 52px;
}

div.bias-header h2 + p {
  font-family: Neucha, sans-serif;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
}

.section-text h3 {
  color: white;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.2;
  margin-block-end: 0;
  margin-block-start: 0;
}

/* card design */
.card,
.title-card {
  flex-basis: 350px;
  box-sizing: border-box;
  padding: 24px;
  background-color: var(--light);
}

.card h3 {
  color: var(--primary);
}

.title-card {
  background-color: var(--dark);
  padding: 0;
}

.card-number {
  margin-bottom: 40px;
  margin-block-start: 0;
  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.card:hover {
  background-color: var(--primary);
}

.card:hover p,
.card:hover h3 {
  color: white;
}
